* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: #FEFEFE;
  display: flex;
  /* #002147 */
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.decorative-up {
  width: 100vw;
  height: 175px;
  background: linear-gradient(125deg, #93DEFA 0%, #29A7E1 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#separating-box{
  width: 15%;
}

/*background: linear-gradient(132deg, #93DEFA 70%, #6FD1FF 100%);*/
.student-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
  min-width: 100px;
  max-width: 1050px;
}

.student-box {
  color: #002147;
  height: 100px;
  width: 100px;
  background: linear-gradient(132deg, #93DEFA 0%, #6FD1FF 100%);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  gap: 40px;
  animation: slideRight 1s ease-in-out forwards;
}

@keyframes slideRight{
  0%{
    width: 100px;
  }
  100%{
    width: 1050px;
  }
}

.box-animation{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.box-animation.appear{
  opacity: 1;
}

#separator {
  align-self: center;
  height: 75px;
  width: 2px;
  background-color: #29A7E1;
}

#student-dane1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

#student-imie-nazwisko{
  font-size: 2rem;
}

.student-font{
  font-size: 1rem;
}

#student-dane2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#student-img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
}

.more-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.more-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.option {
  font-size: 1rem;
  color: hsl(196, 91%, 90%);
  display: flex;
  align-content: center;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.option.appear{
  opacity: 1;
}

#more-options-href{
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

#more-options-href:hover{
  color: #FDC800;
}

#more-options-href:active{
  color: hsl(196, 91%, 100%);
}

.middle-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.grid-container {
  top: 175px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 0fr);
  grid-template-rows: repeat(2, 0fr);
  gap: 30px;
}

.container-box {
  width: 30vw;
  height: 30vh;
  border-radius: 25px;
  background-color: #29A7E1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.container-box.appear {
  opacity: 1;
}

.decorative-down {
  width: 100%;
  height: 60px;
  padding-left: 50px;
  padding-right: 50px;
  background: linear-gradient(132deg, #29A7E1 0%, #29A7E1 70%);
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.25);
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  box-sizing: border-box;
  z-index: 2;
}

.down-corner-text {
  color: white;
  font-size: 1rem;
  font-family: Segoe UI;
  font-weight: 400;
  word-wrap: break-word;
  text-align: right;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-right: 23px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.top.appear {
  opacity: 1;
}

#text-div {
  display: flex;
  flex-direction: column;
}

#mazowiecka-text1 {
  font-size: 3.2rem;
  text-align: left;
  color: white;
  line-height: 1;
}

#mazowiecka-text2 {
  font-size: 1.1rem;
  text-align: left;
  color: white;
  line-height: 1.5;
}

#mazowiecka-logo img {
  width: 170px;
  height: 170px;
}