* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: rgba(254, 254, 254, 1);
  display: flex;
  /* #002147 */
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  transition: background-image 5s ease-in-out;
}

.main-container::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("../resources/bg_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}

.main-container.show-background::before {
  opacity: 1;
}

#decorative-up {
  width: 100vw;
  height: 175px;
  background: linear-gradient(125deg, #93DEFA 0%, #29A7E1 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: height 0.5s ease-in-out;
}

#separating-box {
  width: 5%;
}

/*background: linear-gradient(132deg, #93DEFA 70%, #6FD1FF 100%);*/
.student-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
  min-width: 100px;
  max-width: 1050px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.student-container.appear {
  opacity: 1;
}

.student-container.disappear {
  opacity: 0;
}

.student-box {
  color: #FEFEFE;
  height: 100px;
  width: 100px;
  background: linear-gradient(132deg, #29A7E1 0%, #2291C5 100%);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  gap: 40px;
  animation: slideRight 1s ease-in-out forwards;
}

@keyframes slideRight {
  0% {
    width: 100px;
  }

  100% {
    width: 1050px;
  }
}

.box-animation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.box-animation.appear {
  opacity: 1;
}

#separator {
  align-self: center;
  height: 75px;
  width: 2px;
  background-color: #FEFEFE;
}

#student-dane1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 25%;
}

#student-imie-nazwisko {
  font-size: 1.5rem;
}

.student-font {
  font-size: 1rem;
}

#student-dane2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#student-img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
}

.more-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transition: opacity 0.5s ease-in-out;
}

.more-options-container.disappear {
  opacity: 0;
}

.more-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.option {
  font-size: 1rem;
  color: hsl(196, 91%, 90%);
  display: flex;
  align-content: center;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.option.appear {
  opacity: 1;
}

.more-options-href {
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.more-options-href:hover {
  color: #FDC800;
}

.more-options-href:active {
  color: hsl(196, 91%, 100%);
}

.middle-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.grid-container {
  top: 175px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 0fr);
  grid-template-rows: repeat(2, 0fr);
  gap: 20px;
  transition: opacity 0.5s ease-in-out;
}

.grid-container.disappear {
  opacity: 0;
}

/*==========================================================*/
/*==========================================================*/

.inside-container {
  width: 700px;
  height: 300px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.inside-container.appear {
  opacity: 1;
}

.panel-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #29A7E1;
  font-size: 2.5rem;
  color: #FEFEFE;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    opacity 0.5s ease-in-out,
    font-size 0.3s ease-in-out,
    color 0.2s ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.panel-option:hover {
  font-size: 2.6rem;
  color: #FDC800;
}

.panel-option:active {
  color: hsl(196, 91%, 100%);
}

.panel-option.appear {
  opacity: 1;
}

/*==========================================================*/

#container1 {
  display: flex;
}

#wyniki-studenta {
  border-top-left-radius: 25px;
  width: 100%;
  height: 100%;
  background-image: url("../resources/wyniki-studenta.png");
}

#wyniki-studenta::before {
  border-top-left-radius: 25px;
  content: "WYNIKI STUDENTA";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(41, 167, 225, 0.8), rgba(23, 121, 166, 0.8));
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/*==========================================================*/

#container2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#plan-zajec {
  width: 50%;
  height: 100%;
  background-image: url("../resources/plan-zajec.png");
}

#plan-zajec:before {
  content: "PLAN ZAJĘĆ";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(41, 167, 225, 0.8), rgba(23, 121, 166, 0.8));
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#wiadomosci {
  border-top-right-radius: 25px;
  width: 50%;
  height: 100%;
  background-image: url("../resources/wiadomosci.png");
}

#wiadomosci:before {
  border-top-right-radius: 25px;
  content: "WIADOMOŚCI";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(41, 167, 225, 0.8), rgba(23, 121, 166, 0.8));
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/*==========================================================*/

#container3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#finanse {
  width: 50%;
  height: 100%;
  background-image: url("../resources/finanse.png");
  border-bottom-left-radius: 25px;
}

#finanse:before {
  border-bottom-left-radius: 25px;

  content: "FINANSE";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(41, 167, 225, 0.8), rgba(23, 121, 166, 0.8));
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#biuro-karier {
  width: 50%;
  height: 100%;
  background-image: url("../resources/biuro-karier.png");
}

#biuro-karier:before {
  content: "WIADOMOŚCI";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(41, 167, 225, 0.8), rgba(23, 121, 166, 0.8));
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/*==========================================================*/

#container4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

#kalendarz,
#ankiety,
#zapisy,
#wnioski {
  width: 100%;
  height: 100%;
}

#kalendarz {
  background-image: url("../resources/kalendarz.png");
}

#kalendarz:before {
  content: "KALENDARZ";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(41, 167, 225, 0.8), rgba(23, 121, 166, 0.8));
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#ankiety {
  background-image: url("../resources/ankiety.png");
}

#ankiety:before {
  content: "ANKIETY";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(41, 167, 225, 0.8), rgba(23, 121, 166, 0.8));
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#zapisy {
  background-image: url("../resources/zapisy.png");
}

#zapisy:before {
  content: "ZAPISY";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(41, 167, 225, 0.8), rgba(23, 121, 166, 0.8));
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#wnioski {
  background-image: url("../resources/wnioski.png");
  border-bottom-right-radius: 25px;
}

#wnioski:before {
  border-bottom-right-radius: 25px;
  content: "WNIOSKI";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(41, 167, 225, 0.8), rgba(23, 121, 166, 0.8));
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/*==========================================================*/
/*==========================================================*/

.decorative-down {
  width: 100%;
  height: 60px;
  padding-left: 50px;
  padding-right: 50px;
  background: linear-gradient(132deg, #29A7E1 0%, #29A7E1 70%);
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.25);
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  box-sizing: border-box;
  z-index: 2;
}

.down-corner-text {
  color: white;
  font-size: 1rem;
  font-family: Segoe UI;
  font-weight: 400;
  word-wrap: break-word;
  text-align: right;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-right: 23px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.top.appear {
  opacity: 1;
}

.top.disappear {
  opacity: 0;
}

#text-div {
  display: flex;
  flex-direction: column;
}

#mazowiecka-text1 {
  font-size: 3.2rem;
  text-align: left;
  color: white;
  line-height: 1;
}

#mazowiecka-text2 {
  font-size: 1.1rem;
  text-align: left;
  color: white;
  line-height: 1.5;
}

#mazowiecka-logo img {
  width: 170px;
  height: 170px;
}